[Desktop Entry]
Type=Application
Name=kimcore
Comment=Manage active CPU cores by Master Kim
Exec=/home/eliakimrosil/cpu_power_manager/run.sh
Icon=processor
Terminal=false
Categories=System;Settings;
